html{
    height:100%
}
body{
    display:flex;
    flex-direction:column;
    min-height:100%;
    font:16px/1.7 Avenir Next, sans-serif;
    font-weight:400;
    color:#222;
    background-color:#fff
}
#main-sidebar{
    box-sizing:border-box;
    height:100%;
    overflow-y:auto;
    overscroll-behavior:contain;
    -webkit-font-smoothing:subpixel-antialiased;
    width:300px;background:rgba(251,251,251,0.95);
    box-shadow:2px 19px 26px -21px;
    z-index:2000;left:0px;transition:left 0.5s;padding-bottom:100px
}
#main-sidebar #sidebar-topbar {
        display: flex;
        position: sticky;
        background: rgba(251,251,251,0.95);
        border-bottom: 1px solid #ccc;
        flex-direction: column;
        align-items: center;
        text-align-last: center;
}
#main-sidebar .spacer{
    flex-grow:1;
    flex-shrink:1
}
#main-sidebar ul{
    list-style:none;
    padding:0 12px;
    margin:0px
}
#main-sidebar>ul{
    border-bottom:1px solid #ccc
}
#main-sidebar>ul>li>a{
    padding:7px 11px
}
#main-sidebar li a{
    padding:2px 0px 2px 11px;
    color:#333;
    display:block;
    transition:0.05s
}
#main-sidebar li a:hover{
    background:#eaeaea
}
#main-sidebar li a:hover,#main-sidebar li a.selected{
    color:darkred;
    text-shadow:#ccc 0 0 3px
}
h2,h3{line-height:1.5}
h2,.h2{font-style:normal;font-weight:400;font-size:1.66em;color:#333;margin:66px 0 44px}
h3,.h3{font-style:normal;font-size:1.2em;margin:55px 0 33px}
h4 {display:contents;font-style:normal;font-weight: bold;font-size: large;color: darkgreen;}
a,a:hover,a strong{text-decoration:none;color:#039}
header{position:fixed}
strong {
    color: #1D824C;
}
section {
    max-width: 636px;
    margin: auto;
    transition: all 0.5s;
}
#content-area{padding-left:290px;transition:0.5s}